<DOCTYPE html>
<html xlms:th="http://www.thymeleaf.org">
<body>
<form method="POST" enctype="multipart/form-data">
	nome: <input type="text" name="nome" />
	descricao: <input type="text" name="descricao" />
	status: <input type="text" name="status"/>
	Imagem:<input type="file" name="file"/>
	Categoria:
	<select name="categoriaID" >
		<option th:each="categoria: ${categorias}" 
		th:value="${categoria.CATEGORIAID}" 
		th:text="${categoria.nome}"></option>
	</select>
	<input type="submit"/>
</form>
</body>
</html>
